In [16]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1    Fisika     57     laki-laki   12C
1         2   Biologi     81     laki-laki   12D
2         3   Biologi     50     laki-laki   12A
3         4     Kimia     49     perempuan   12A
4         5   Ekonomi     69     perempuan   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# code here

#Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
df.loc[:, ['nilai', 'kelas']].head()

   nilai kelas
0     58   12A
1     91   12C
2     98   12D
3     90   12A
4     34   12B

In [2]:
#solution from tutor
df[['nilai','kelas']]

    nilai kelas
0      41   12C
1      45   12D
2      75   12B
3      17   12A
4      37   12B
5       1   12C
6      64   12A
7       4   12B
8      67   12C
9      12   12D
10     93   12D
11     27   12C
12      0   12C
13     98   12B
14     39   12A
15     33   12A
16      4   12C
17     72   12B
18     45   12B
19     21   12D

In [ ]:
#Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

df.loc[5:10, 'pelajaran':'nilai']

     pelajaran  nilai
5        Kimia     13
6       Fisika     85
7        Kimia     98
8       Fisika     75
9      Ekonomi     21
10  Matematika     28

In [3]:
#solution for tutor
#using loc
df.loc[4:9, ['pelajaran','nilai']]

    pelajaran  nilai
4      Fisika     37
5  Matematika      1
6       Kimia     64
7     Geologi      4
8  Matematika     67
9     Biologi     12

In [4]:
#solution for tutor
#using iloc
df.iloc[4:10, [1,2]]

    pelajaran  nilai
4      Fisika     37
5  Matematika      1
6       Kimia     64
7     Geologi      4
8  Matematika     67
9     Biologi     12

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# code here
#Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
ekonomi = df.pelajaran == 'Ekonomi'
fisika = df.pelajaran == 'Fisika'

print(df[(ekonomi | fisika)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4    Fisika     90     laki-laki   12A
6          7    Fisika     85     perempuan   12C
8          9    Fisika     75     laki-laki   12D
9         10   Ekonomi     21     laki-laki   12C
18        19    Fisika     40     perempuan   12C
19        20    Fisika     79     laki-laki   12B

In [7]:
display(df[(df.pelajaran == 'Ekonomi') | (df.pelajaran == 'Fisika')])

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1   Ekonomi     41     laki-laki   12C
1          2   Ekonomi     45     laki-laki   12D
4          5    Fisika     37     laki-laki   12B
10        11   Ekonomi     93     perempuan   12D
12        13   Ekonomi      0     laki-laki   12C
19        20    Fisika     21     laki-laki   12D

In [ ]:
#Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
kimia = df.pelajaran == 'Kimia'
lebih_50 = df.nilai > 50

print(df[(kimia) & (lebih_50)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1     Kimia     58     laki-laki   12A
1          2     Kimia     91     perempuan   12C
2          3     Kimia     98     perempuan   12D
7          8     Kimia     98     perempuan   12C
14        15     Kimia     66     laki-laki   12C
15        16     Kimia     97     laki-laki   12A

In [10]:
#solution from tutor
print(df[(df.pelajaran == 'Kimia') & (df.nilai > 50)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
6          7     Kimia     64     perempuan   12A
13        14     Kimia     98     laki-laki   12B

In [ ]:
#Tampilkan semua data yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C
kelas12c = df.kelas == '12C'
lebih_70 = df.nilai > 70
perempuan = df['jenis-kelamin'] == 'perempuan'


print(df[(kelas12c) & (lebih_70) & (perempuan)])

   siswa_id pelajaran  nilai jenis-kelamin kelas
1         2     Kimia     91     perempuan   12C
6         7    Fisika     85     perempuan   12C
7         8     Kimia     98     perempuan   12C

In [17]:
#solution from tutor
print(df[(df.kelas == '12C') & (df.nilai > 70) & (df['jenis-kelamin']== 'perempuan')])

    siswa_id pelajaran  nilai jenis-kelamin kelas
17        18   Ekonomi     98     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [19]:
# code here
def normalization(x):
    return (x - x.min())/(x.max() - x.min())

print('Nilai')
print(df.nilai)   

print('Normalization')
print(df[['nilai']].apply(normalization))

Nilai
0     57
1     81
2     50
3     49
4     69
5     23
6     94
7     32
8     35
9     35
10     5
11    89
12    50
13    68
14    24
15    46
16    20
17    98
18    54
19    57
Name: nilai, dtype: int64
Normalization
       nilai
0   0.559140
1   0.817204
2   0.483871
3   0.473118
4   0.688172
5   0.193548
6   0.956989
7   0.290323
8   0.322581
9   0.322581
10  0.000000
11  0.903226
12  0.483871
13  0.677419
14  0.204301
15  0.440860
16  0.161290
17  1.000000
18  0.526882
19  0.559140

In [20]:
#solution from tutor
normalization(df['nilai'])

0     0.559140
1     0.817204
2     0.483871
3     0.473118
4     0.688172
5     0.193548
6     0.956989
7     0.290323
8     0.322581
9     0.322581
10    0.000000
11    0.903226
12    0.483871
13    0.677419
14    0.204301
15    0.440860
16    0.161290
17    1.000000
18    0.526882
19    0.559140
Name: nilai, dtype: float64